<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= u_type %></title>
</head>
<body>
    <form>
        <h2><%= u_type %> Login</h2>
        <label for="email">Email </label>
        <input id="email" type="email" required placeholder="email"><br>
        <label for="password">Password</label>
        <input id="password" type="password" required placeholder="Password"><br>
        <input type="submit" value="Login">
    </form>
    <% if (u_type == 'Admin') { %>
        <% var path = 'dashboard';%>
        <% } else { %>
        <% var path = u_type.toLowerCase() + 's' %>
    <% } %>
    <a id="forgot" href="/<%= path %>/forgot">Forgot Password</a>
<br>
<h1 style="color: red">work in progress!</h1>
<script type="text/javascript">
    const url = () => {
        
    }
    const form = document.querySelector('form')
    form.onsubmit = async (e) => {
        e.preventDefault()
        const email = form[0].value, password = form[1].value
        const response = await login(email, password)
        if (response == 'refresh') {
            window.location.replace('/<%= path %>')
        } else {
            alert(response)
        }
    }
    const login = async (email, password) => {
        const response = await fetch('/<%= path %>/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        })
        return await response.text()
    }
</script>
</body>
</html>
